<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>model</servlet-name>
		<servlet-class>kyouen.DataModel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>model</servlet-name>
		<url-pattern>/model</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newpast</servlet-name>
		<servlet-class>kyouen.NewPast</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newpast</servlet-name>
		<url-pattern>/newpast</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>assist</servlet-name>
		<servlet-class>kyouen.Assistant</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>assist</servlet-name>
		<url-pattern>/assist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sync</servlet-name>
		<servlet-class>kyouen.Synchro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sync</servlet-name>
		<url-pattern>/sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>serv</servlet-name>
		<servlet-class>kyouen.ServerStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serv</servlet-name>
		<url-pattern>/serv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>back</servlet-name>
		<servlet-class>kyouen.WakeBackends</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>back</servlet-name>
		<url-pattern>/back</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>move</servlet-name>
		<servlet-class>kyouen.Move</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>move</servlet-name>
		<url-pattern>/move</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>labo</servlet-name>
		<servlet-class>kyouen.Labo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>labo</servlet-name>
		<url-pattern>/labo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>labo2</servlet-name>
		<servlet-class>kyouen.Labo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>labo2</servlet-name>
		<url-pattern>/labo2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>guide</servlet-name>
		<servlet-class>kyouen.Guide</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>guide</servlet-name>
		<url-pattern>/guide</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>co</servlet-name>
		<servlet-class>kyouen.Co</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>co</servlet-name>
		<url-pattern>/co</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ranking</servlet-name>
		<servlet-class>kyouen.Rank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ranking</servlet-name>
		<url-pattern>/ranking</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>pair</servlet-name>
		<servlet-class>kyouen.Pair</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pair</servlet-name>
		<url-pattern>/pair</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>past</servlet-name>
		<servlet-class>kyouen.Past</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>past</servlet-name>
		<url-pattern>/past</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>